[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.10.5
[submodule "third_party/nccl-windows"]
	path = third_party/nccl-windows
	url = https://github.com/SystemPanic/nccl-windows.git
	branch = nccl-windows
